body {
  background-color: #1f2937;
  font-family: 'Karla', sans-serif;
  color: #f0fdfa; 
  margin: 0px 0px;
  /* align-items: center;
  min-height: 100vh;
  */
   /* center vertically */
   display: flex;
  justify-content: center;     /* center horizontally */
  align-items: center;         /* center vertically */
  overflow: hidden;   
}

.content{
  flex-direction: column;
  background: #111827;

  border-radius: 10px;
  box-shadow: 0px 0px 20px #111827;
  width: 500px;
  
  display: flex;
  padding: 20px 30px;
  height: auto;
  margin:  auto;
  
}
.title{
    font-family: "Karla", sans-serif;
    font-weight: 900;
    font-size:  40px;
    text-align: start;  
    gap: 0px;
    margin-left: auto;
    margin-bottom: auto;
    
    
}
.subtitle{
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 20px;
    
    
}
.ran{
    color: #10B981;
    display: block;
}
.button{
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #444;
  cursor: pointer;
  color: #f0fdfa;
  background-color: #10b981;
    
    
}
#mySelect{
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
  /* border: 2px solid #444; */
  cursor: pointer;
  color: #10b981;
  background-color: #ffffff;
  gap: 20px;
}
hr {
  color: #1F2937;
  border: 1px solid rgb(76, 76, 76); 
  width: 100%; 
  margin-top: 30px;
  margin-bottom: 30px;
}
#passwords{
  display: flex;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}
#randompass1,#randompass2{
  color: #10B981;
  margin-left: 0px;
  width: 200px;
  height: 15px;
  padding: 20px 90px;
  
  background-color: #273549;
  text-align: center;
  border-radius: 8px;
}
#bts{
  gap: 16px;
  margin-bottom: 20px;
  
}
.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #374151;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 8px;
  position: absolute;
  bottom: 125%; /* Above the text */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 12px;
  transition: opacity 0.3s;
  pointer-events: none;
  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
